*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

header{
    height: 60px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);



}
.left{
    float: left;
}
.left-text{
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 22px;
}
.right{
    float: right;
    height: 40px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;

}
.right-text{
    text-align: center;
    margin-top: 10px;
}
.btns{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 15px;
}
.collect{
    height: 50px;
    width: 280px;
    background-color: rgb(67, 49, 228);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.rendom{
    margin-top: 10px;
    height: 50px;
    width: 120px;
    background-color: rgb(67, 49, 228);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.share{
    margin-top: 10px;
    height: 50px;
    width: 140px;
    background-color: rgb(67, 49, 228);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}
.sec-btn{
    margin-left: 10px;
}
